@use "../tokens/colors" as *;
@use "../tools/typos" as *;

// 0.75rem - caption
.text-caption {
  @include font-app(light);
  @include text(caption);
  opacity: 0.75;
}

// 0.875rem - small
.text-small {
  @include font-app(light, italic);
  @include text(small);
}

// 1rem - body
.text-policies {
  @include font-landing;
  @include text(body);
}

.text-body {
  @include font-app(light);
  @include text(body);
}
.text-body-italic {
  @include font-app(light, italic);
  @include text(body);
}
.text-body-medium {
  @include font-app(medium);
  @include text(body);
}

// 1.125rem - lead
.text-lead {
  @include font-app();
  @include text(lead);
}

// 1.375rem - title
.text-title {
  @include font-app();
  @include text(title);
}

// 1.5rem - display
.text-display {
  @include font-app();
  @include text(display);
}

// 2.5rem - highlight
.text-highlight {
  @include font-app(light);
  @include text(highlight);
}

// utils
.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

// colors
.text-primary {
  color: var(--color-text-primary);
}

.text-inverse {
  color: var(--color-text-inverse);
}

.text-muted {
  opacity: 0.75;
}
