@use "../../styles/tools/breakpoints" as *;
@use "../../styles/tools/flex" as *;
@use "../../styles/tools/icon" as *;
@use "../../styles/tools/layouts" as *;
@use "../../styles/tools/spacing" as *;
@use "../../styles/tools/typos" as *;

/* === LAYOUT === */
.stats {
  @include flex(column, space-between, center, md);
  padding: space(sm);
  padding-bottom: space(xxl);

  .buttonContainer {
    @include flex(row, center, center, sm);
    width: 100%;
    max-width: maxWidth(compact);

    > * {
      width: 50%;
      padding: 10px;
    }
  }

  .subContainer {
    @include flex(column, center, center, md);
    width: 100%;

    .graphContainer {
      width: 100%;

      .avgContainer {
        @include flex(row, flex-start, center, xs);
        margin-left: space(md);

        .avgLine {
          height: 1px;
          width: 40px;
          background-color: var(--color-emotion-ok);
        }
      }
    }
  }
}
