@use "../../styles/tools/breakpoints" as *;
@use "../../styles/tools/flex" as *;
@use "../../styles/tools/icon" as *;
@use "../../styles/tools/layouts" as *;
@use "../../styles/tools/spacing" as *;

/* === LAYOUT === */
.stats {
  @include flex(column, space-between, center, md);
  padding: space(sm);
  padding-bottom: space(xxl);

  // button
  .buttonContainer {
    @include flex(row, center, center, sm);
    width: 100%;
    max-width: maxWidth(compact);

    > * {
      width: 50%;
      padding: 10px;
    }
  }

  // monthView
  .subContainer {
    @include flex(column, center, center, md);
    width: 100%;

    .graphContainer {
      width: 100%;

      .avgContainer {
        @include flex(row, flex-start, center, xs);
        margin-left: space(md);

        .avgLine {
          height: 1px;
          width: 40px;
          background-color: var(--color-brand-primary);
        }
      }
    }

    .separator {
      height: 3px;
      width: 80%;
      background-color: var(--color-brand-primary);
    }

    .progress {
      @include flex(column, center, center, md);

      .compare {
        @include flex(column, center, center);

        .comparedData {
          @include flex(row, center, center, sm);

          .icon {
            @include icon-size(extralarge);
          }
        }
      }
    }
  }

  // yearView
}
