@use "../../styles/tools/spacing" as *;
@use "../../styles/tools/typos" as *;
@use "../../styles/tools/flex" as *;
@use "../../styles/tools/layouts" as *;
@use "../../styles/tools/icon" as *;
@use "../../styles/tools/breakpoints" as *;

/* === TYPO === */
.textBody {
  @include font-app();
  @include text(body, 2);
  text-align: center;
}
.titleCentered {
  text-align: center;
}
.textMeta {
  @include font-app();
  @include text(caption);
  text-align: center;
}

/* === COMPONENT: MOOD SELECTOR === */
.moodSelector {
  @include flex(column, center, center, sm);

  .moodList {
    @include flex(row, space-between, center, xs);

    &:has(.mood:checked) .mood:not(:checked) {
      opacity: 0.6;
    }
  }

  .moodRange {
    @include flex(row, space-between, center, xs);
    width: 100%;

    .moodShow {
      flex: 1;
      height: 4px;
      border-radius: 2px;
      background: linear-gradient(
        to right,
        var(--color-emotion-meh),
        var(--color-emotion-ok),
        var(--color-emotion-good)
      );
    }
  }
}

.mood {
  appearance: none;
  @include icon-size(extralarge);
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.2s;

  @media (max-width: breakpoint(medium)) {
    @include icon-size(large);
  }

  &:hover,
  &:checked {
    outline: 3px solid currentColor;
    outline-offset: 3px;
  }
}

/* === LAYOUT === */
.dashboard {
  @include flex(column, space-between, center, xl);
  padding: space(sm);
  padding-bottom: space(xxl);

  .todayMood {
    @include flex(column, space-between, center, md);

    .modjiContainer {
      height: 200px;
      width: 100%;
    }
  }

  .separator {
    height: 3px;
    width: 80%;
    background-color: var(--color-emotion-meh);
  }

  .recentMoods {
    @include flex(column, space-between, center, md);

    .buttonContainer {
      @include flex(column, space-between, center, xs);
    }
  }
}
