@use "../../styles/tools/spacing" as *;
@use "../../styles/tools/typos" as *;
@use "../../styles/tools/flex" as *;
@use "../../styles/tools/layouts" as *;
@use "../../styles/tools/icon" as *;
@use "../../styles/tools/breakpoints" as *;

/* === COMPONENT: MOOD SELECTOR === */
.moodSelector {
  @include flex(column, center, center, sm);

  &_list {
    @include flex(row, space-between, center, xs);

    &:has(.mood:checked) .mood:not(:checked) {
      opacity: 0.6;
    }

    .mood {
      appearance: none;
      @include icon-size(extralarge);
      border-radius: 50%;
      opacity: 1;
      cursor: pointer;
      transition: opacity 0.2s;

      @media (max-width: breakpoint(medium)) {
        @include icon-size(large);
      }

      &:hover,
      &:checked {
        outline: 3px solid currentColor;
        outline-offset: 3px;
      }
    }
  }

  .moodRange {
    @include flex(row, space-between, center, xs);
    width: 100%;

    .moodShow {
      flex: 1;
      height: 4px;
      border-radius: 2px;
      background: linear-gradient(
        to right,
        var(--color-emotion-meh),
        var(--color-emotion-ok),
        var(--color-emotion-good)
      );
    }
  }
}

/* === LAYOUT === */
.dashboard {
  @include flex(column, space-between, center, xl);
  padding: space(sm);
  padding-bottom: space(xxl);

  .todayMood {
    @include flex(column, space-between, center, md);
    width: 100%;

    .titleContainer {
      position: relative;
      height: 100px;
      width: 100%;
      top: 0;
      left: 0;
    }

    .mainTitle {
      position: absolute;
      width: 100%;
      transition: opacity 0.3s ease;

      &.visible {
        opacity: 1;
      }

      &.hidden {
        opacity: 0;
      }
    }

    .modji {
      height: 200px;
      width: 100%;
    }
  }

  .separator {
    height: 3px;
    width: 80%;
    background-color: var(--color-brand-primary);
  }

  .recentMoods {
    @include flex(column, space-between, center, md);

    &_buttonContainer {
      @include flex(column, space-between, center, xs);
    }
  }
}
