/* =========================
   Light theme (default)
   ========================= */

:root {
  /* App / UI */
  --color-bg-body: #f4f6fb;
  --shadow-app: 0 20px 60px rgba(26, 32, 54, 0.15);
  --color-bg: #fafafa;
  --color-bg-chart: #e6e6eb;
  --color-primary: #3554c5;
  --color-text: #1c1c1e;
  --color-text2: #fafafa;

  /* Emotions */
  --color-emotion-bad: #1f355c;
  --color-emotion-meh: #3554c5;
  --color-emotion-ok: #6f82d9;
  --color-emotion-good: #f08bc3;
  --color-emotion-great: #ffb703;

  /* Emotions */
  --color-on-dark: #fafafa;
  --color-on-light: #1c1c1e;

  /* Others */
  --color-logo: #3554c5;
  --color-arrow: #3554c5;

  --color-trophy-inactive: #fafafa;
  --color-trophy-active: #ffb703;
  --color-trophy-new: #ff1744;

  --color-opacity: 0.6;
}

/* =========================
   Dark theme overrides
   ========================= */

[data-theme="dark"] {
  /* App / UI */
  --color-bg-body: #1a2036;
  --shadow-app: 0 20px 60px rgba(244, 246, 251, 0.15);
  --color-bg: #0f1424;
  --color-text: #e6e6eb;
  --color-text2: #e6e6eb;

  /* Emotions */
  --color-on-dark: #e6e6eb;
  --color-on-light: #0f1424;

  /* Others */
  --color-logo: #f08bc3;
  --color-arrow: #e6e6eb;

  --color-trophy-inactive: #e6e6eb;

  --color-opacity: 1;
}
