/* =========================
   Light theme (default)
   ========================= */

:root {
  /* App */
  --color-bg-page: #f4f6fb;
  --shadow-page: 0 20px 60px rgba(26, 32, 54, 0.15);

  --color-bg-app: #fafafa;
  --color-brand: #3554c5;

  /* Texts */
  --color-text-primary: #1c1c1e;
  --color-text-inverse: #fafafa;
  --color-text-adaptive: #fafafa;
  --color-text-on-light: #1c1c1e;

  --color-chart-track: #e6e6eb;

  /* Emotions */
  --color-emotion-sad: #1f355c;
  --color-emotion-meh: #3554c5;
  --color-emotion-ok: #6f82d9;
  --color-emotion-good: #f08bc3;
  --color-emotion-great: #ffb703;

  /* Tools */
  --color-opacity: 0.8;
}

/* =========================
   Dark theme overrides
   ========================= */

[data-theme="dark"] {
  /* App */
  --color-bg-page: #1a2036;
  --shadow-page: 0 20px 60px rgba(244, 246, 251, 0.15);

  --color-bg-app: #0f1424;
  --color-brand: #f08bc3;

  /* Texts */
  --color-text-primary: #e6e6eb;
  --color-text-inverse: #e6e6eb;
  --color-text-adaptive: #0f1424;
  --color-text-on-light: #0f1424;

  /* Tools */
  --color-opacity: 0.8;
}
