@use "../../../styles/tools/breakpoints" as *;
@use "../../../styles/tools/flex" as *;
@use "../../../styles/tools/icon" as *;
@use "../../../styles/tools/layouts" as *;
@use "../../../styles/tools/spacing" as *;
@use "../../../styles/tools/typos" as *;

/*=== TYPOS ===*/
.avgTypo {
  @include font-app(light, italic);
  @include text(body);
}

/*=== MOODS ===*/
.neutral {
  background-color: var(--color-chart-track);
  color: var(--color-text-on-light);
}

.medium {
  background-color: var(--color-emotion-meh);
  color: var(--color-text-inverse);
}

.good {
  background-color: var(--color-emotion-good);
  color: var(--color-text-on-light);
}

.great {
  background-color: var(--color-emotion-great);
  color: var(--color-text-on-light);
}

/*=== LAYOUT ===*/
.container {
  @include flex(column, center, center, sm);
  width: 100%;

  .currentMonth {
    @include flex(column, center, flex-start);
    width: 100%;
    width: 150px;

    .month {
      text-indent: 10px;
    }

    .data {
      @include flex(row, space-between, center);
      width: 100%;
      border-radius: 10px;
      padding: 10px;
    }
  }
}
