@use "sass:map";

/* Spacings */
$spaces: (
  xs: 10px,
  sm: 20px,
  md: 40px,
  lg: 60px,
  xl: 80px,
  xxl: 120px,
);

@function space($size) {
  $value: map.get($spaces, $size);

  @if $value == null {
    @error "Unknown space: #{$size}. Allowed: #{map-keys($spaces)}";
  }

  @return $value;
}
