@use "../../../styles/tools/spacing" as *;
@use "../../../styles/tools/flex" as *;
@use "../../../styles/tools/icon" as *;

/* === REUSABLE LAYOUT === */
.iconMd {
  @include icon-size(medium);
}

/* === LAYOUT === */
.container {
  @include flex(row, space-between, stretch);
  padding: space(xs) space(sm);
  background: var(--color-brand);
  height: 45px;

  .counter {
    @include flex(row, flex-start, center, xs);
  }

  .logo {
    height: 100%;
    color: var(--color-text-inverse);
  }
}
