@use "../../../styles/tools/spacing" as *;
@use "../../../styles/tools/typos" as *;
@use "../../../styles/tools/flex" as *;
@use "../../../styles/tools/icon" as *;

/* === TYPO === */
.countTypo {
  @include font-app(medium);
  @include text(title, 1.3);
  color: var(--color-text2);
}

/* === REUSABLE LAYOUT === */
.iconMd {
  @include icon-size(medium);
}

/* === LAYOUT === */
.container {
  @include flex(row, space-between, stretch);
  padding: space(xs) space(sm);
  background: var(--color-emotion-meh);
  height: 45px;

  .counter {
    @include flex(row, flex-start, stretch, xs);
  }

  .title {
    height: 100%;
    color: var(--color-text2);
  }
}
