@use "../../../styles//tools/breakpoints" as *;
@use "../../../styles//tools/flex" as *;
@use "../../../styles//tools/icon" as *;
@use "../../../styles//tools/layouts" as *;
@use "../../../styles//tools/spacing" as *;

/*=== LAYOUTS ===*/
.container {
  @include flex(column, center, center, md);
  @include container(default);
  padding: space(sm);
  padding-bottom: space(xxl);
  margin: auto;

  .contentContainer {
    @include flex(column, center, flex-start, md);

    .subContainer {
      @include flex(column, center, flex-start, xs);
    }
  }
}
