@use "../../../../styles/tools/breakpoints" as *;
@use "../../../../styles/tools/flex" as *;
@use "../../../../styles/tools/layouts" as *;
@use "../../../../styles/tools/spacing" as *;
@use "../../../../styles/tools/typos" as *;

/*=== TYPOS ===*/

.moodText {
  @include font-app();
  @include text(lead);
}

.dataText {
  @include font-app(light, italic);
  @include text(body);
}

/*=== MOODS ===*/
.great {
  background-color: rgba(255, 183, 3, var(--color-opacity));
  color: var(--color-on-light);
}
.good {
  background-color: rgba(240, 139, 195, var(--color-opacity));
  color: var(--color-on-light);
}
.ok {
  background-color: rgba(111, 130, 217, var(--color-opacity));
  color: var(--color-on-light);
}
.meh {
  background-color: rgba(53, 84, 197, var(--color-opacity));
  color: var(--color-on-dark);
}
.sad {
  background-color: rgba(31, 53, 92, var(--color-opacity));
  color: var(--color-on-dark);
}
.noData {
  background-color: rgba(250, 250, 250, var(--color-opacity));
  color: var(--color-on-light);
}

/*=== LAYOUT ===*/
.bestData {
  @include flex(column, center, center, sm);
  @include container(compact);

  .container {
    @include flex(row, center, center);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    border: 4px solid var(--color-text2);

    .texts {
      @include flex(column, center, center, xs);
      width: 50%;
    }

    .modji {
      height: auto;
      width: 50%;
    }
  }
}
